*.launch
deployment/
packages/
releases/
.mendix-cache/
.classpath
.project
modeler-merge-marker
project-settings.user.json
javasource/*/proxies/
javasource/system/
**/node_modules/
javascriptsource/**/node_modules/
AR_StarterApp.mpr.bak
AR_StarterApp.mpr.lock
nativemobile/builds/